{% extends "base2.html" %}

{% block title %}About{% endblock %}

{% block head_append %}

{% endblock %}

{% block main_append %}
<div class="container-xxl bd-gutter">
    <div class="col-lg-7 mx-auto pb-3 mb-3 mb-md-5 text-md-left">
<!--        <h1 class="mb-3 fw-semibold 1h-1 text-md-center">-->
<!--            About Myself-->
<!--        </h1>-->

        <section class="pb-md-5 mb-5">
            <h3 class="fw-semibold">
                Where am I from?
            </h3>
            <p class="lead fw-normal">
                I was born in a village far from the big city, with no high buildings or large mansions, in Gansu Province.
                My hometown is Jingning County, Pingliang City, Gansu Province.
                More precisely, it is called Weirong Town in Jingning County.<br>
                <br>
                Very different from the big city, it is dominated by agriculture and handicrafts.
                <br><br>
                The fruits and food are very delicious and are sold overseas, especially apples and roast chickens.
            </p>
        </section>

        <p class="d-flex justify-content-start lead fw-normal">
            <a href="https://www.linkedin.com/in/hailong-ma-6b6ab9315" class="icon-link icon-link-hover fw-semibold">
                For my further information, visit my Linkedin link.
<!--                <svg class="bi"><use xlink:href="bootstrap-icons.svg#heart-fill"></use></svg>-->
            </a>
        </p>
    </div>
</div>
{% endblock %}
