{% extends "base.html" %}

{% block title %}Display Page{% endblock %}

{% block content %}

<div class="horizontal-center">
    <div>
        <h1>Display Page</h1>
        <h2>Item Details</h2>
        <ul class="details-list">
            <li><strong>ID:</strong> {{ item.id }}</li>
            <li><strong>Name:</strong> {{ item.name }}</li>
            <li><strong>Description:</strong> {{ item.description }}</li>
            <li><strong>Price:</strong> ${{ item.price }}</li>
        </ul>
    </div>

</div>

<div id="plotly-graph" style="width: 100%; height: 400px;"></div>
<script src="/static/js/plotly-latest.min.js"></script>

<script type="text/javascript">
    var data = [{
        x: [1, 2, 3, 4],
        y: [10, 15, 13, 17],
        type: 'scatter'
    }];

    var layout = {
        title: 'Sample Plotly Graph'
    };

    Plotly.newPlot('plotly-graph', data, layout);
</script>


{% endblock %}