<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
    <title>{% block title %}My Profile{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('css', path='/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('css', path='/footer.css') }}">
<!--    <link rel="stylesheet" href="{{ url_for('css', path='/all.min.css') }}">-->
    {% block head_append %}
        <!-- Default head content -->
    {% endblock %}

</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="../.." aria-label="My home icon" data-md-component="logo" title="My homepage">
                        <img src="{{ url_for('images', path='/house-30.png') }}" alt="logo" class="logo-img">
                    </a>
                </li>

<!--                <li><a href="/">Home</a></li>-->
                <li><a href="/display">My Work</a></li>
                <li><a href="/about">About</a></li>



            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        <!-- Default content -->
        {% endblock %}
    </main>


    <footer>
        <!-- Footer content -->

        <div class="footer-content">
            <p>&copy; 2024 My Website. All rights reserved.</p>
            <ul>
                <li><a href="/privacy-policy">Privacy Policy</a></li>
                <li><a href="/terms-of-service">Terms of Service</a></li>
                <li><a href="/contact">Contact Us</a></li>
            </ul>
        </div>
        {% block footer %}

        <!-- Default content -->
        {% endblock %}

    </footer>
</body>
</html>
