<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My FastAPI App{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('css', path='/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('css', path='/all.min.css') }}">

</head>
<body>
    <header>
        <nav>
            <ul>
                <a href="../.." aria-label="My home icon" data-md-component="logo" title="My homepage">
                    <img src="{{ url_for('images', path='/switch_to_home.png') }}" alt="logo" class="logo-img">
                </a>
                <li><a href="/">Home</a></li>
                <li><a href="/display">Display</a></li>
                <li><a href="/about">About</a></li>

            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        <!-- Default content -->
        {% endblock %}
    </main>
</body>
</html>
