<!doctype html>
<html data-bs-theme="auto" lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>{% block title %}My Blog{% endblock %}</title>
    <title>Bootstrap demo</title>
    <link href="{{ url_for('bootstrap', path='/dist/css/bootstrap.min.css') }}" rel="stylesheet">

    {% block head_append %}
    {% endblock %}
</head>
<body>
<div class="container-fluid bg-body-tertiary">
    <div class="container">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                    <img alt="Logo" class="d-inline-block align-text-top" height="34" src="{{ url_for('images', path='/dragon-logo.png') }}"
                        width="40">
                    Dragon
                </a>
                <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                        class="navbar-toggler" data-bs-target="#navbarSupportedContent"
                        data-bs-toggle="collapse" type="button">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a aria-current="page" class="nav-link active" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/learning">Learning</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
                            role="button">
                                Others
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/work">Professional achievements</a></li>
                                <li><a class="dropdown-item" href="/cooperation">Cooperation</a></li>
                                <li><a class="dropdown-item" href="/about">About</a></li>
                            </ul>
                        </li>
                    </ul>
                    <form class="d-flex" role="search">
                        <input aria-label="Search" class="form-control me-2" placeholder="Search" type="search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>
    </div>
</div>

<main>
    {% block main_append %}

    {% endblock %}
</main>


<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center">
            <a class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1" href="/">
                <svg class="bi" height="24" width="30">
                    <use href="{{ url_for('svgs', path='/icons.svg') }}#dragon-logo"/>
                </svg>
            </a>
            <span class="mb-3 mb-md-0 text-body-secondary">&copy; 2024 Dragon, All rights.</span>
        </div>

        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="ms-3">
                <a class="text-body-secondary" href="https://x.com/helen_mars250?s=09">
                    <svg class="bi" height="24" width="24">
                        <use href="{{ url_for('svgs', path='/icons.svg') }}#twitter"/>
                    </svg>
                </a>
            </li>
            <li class="ms-3">
                <a class="text-body-secondary" href="https://www.instagram.com/helenmars89?igsh=MXJlMWpwNjh0bnkzMA==">
                    <svg class="bi" height="24" width="24">
                        <use href="{{ url_for('svgs', path='/icons.svg') }}#instagram"/>
                    </svg>
                </a>
            </li>
            <li class="ms-3">
                <a class="text-body-secondary" href="https://www.facebook.com/share/1z1omaL9jmS9aUPQ/?mibextid=qi2Omg">
                    <svg class="bi" height="24" width="24">
                        <use href="{{ url_for('svgs', path='/icons.svg') }}#facebook"/>
                    </svg>
                </a>
            </li>
        </ul>

        {% block footer_append %}

        {% endblock %}
    </footer>
</div>


<script crossorigin="anonymous"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
<script src="{{ url_for('bootstrap', path='/dist/js/bootstrap.bundle.min.js') }}"></script>
</body>
</html>