<!doctype html>
<html data-bs-theme="auto" lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>{% block title %}My Blog{% endblock %}</title>
    <title>Bootstrap demo</title>
    <link href="{{ url_for('bootstrap', path='/dist/css/bootstrap.min.css') }}" rel="stylesheet">

    {% block head_append %}
    <!-- Default head content -->
    {% endblock %}
</head>
<body>

<div class="container">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="{{ url_for('images', path='/dragon-logo.png') }}" alt="Logo" width="40" height="34" class="d-inline-block align-text-top">
                Dragon
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/learning">Learning</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Others
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/work">Work</a></li>
                            <li><a class="dropdown-item" href="/cooperation">Cooperation</a></li>
                            <li><a class="dropdown-item" href="/about">About</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
</div>










<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none"
           href="/">
            <svg class="bi me-2" height="32" width="40">
                <use xlink:href="#bootstrap"/>
            </svg>
            <span class="fs-4">Dragon</span>
        </a>

        <ul class="nav nav-pills">
            <li class="nav-item"><a class="nav-link {% if request.path == '/' %}active{% endif %}" href="/">Home</a>
            </li>
            <li class="nav-item"><a class="nav-link {% if request.path == '/learning' %}active{% endif %}"
                                    href="/learning">Learning</a></li>
            <li class="nav-item"><a class="nav-link {% if request.path == '/work' %}active{% endif %}" href="/work">Work</a>
            </li>
            <li class="nav-item"><a class="nav-link {% if request.path == '/cooperation' %}active{% endif %}"
                                    href="/cooperation">Cooperation</a></li>
            <li class="nav-item"><a class="nav-link {% if request.path == '/about' %}active{% endif %}"
                                    href="/about">About</a></li>
        </ul>
    </header>
</div>

<main>
    {% block main_append %}
    <!-- Default content -->
    {% endblock %}
</main>


<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center">
            <a class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1" href="/">
                <svg class="bi" height="24" width="30">
                    <use xlink:href="#bootstrap"/>
                </svg>
            </a>
            <span class="mb-3 mb-md-0 text-body-secondary">&copy; 2024 Dragon, All rights.</span>
        </div>

        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="ms-3"><a class="text-body-secondary" href="#">
                <svg class="bi" height="24" width="24">
                    <use xlink:href="#twitter"/>
                </svg>
            </a></li>
            <li class="ms-3"><a class="text-body-secondary" href="#">
                <svg class="bi" height="24" width="24">
                    <use xlink:href="#instagram"/>
                </svg>
            </a></li>
            <li class="ms-3"><a class="text-body-secondary" href="#">
                <svg class="bi" height="24" width="24">
                    <use xlink:href="#facebook"/>
                </svg>
            </a></li>
        </ul>

        {% block footer_append %}
        <!-- Default content -->
        {% endblock %}
    </footer>
</div>


<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="{{ url_for('bootstrap', path='/dist/js/bootstrap.bundle.min.js') }}"></script>
</body>
</html>